* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: gray;
  font-size: 16px;
  scroll-behavior: smooth;
}



/* NAVBAR  -  STARTS ------------------------------------ */

ul, li {
  display: inline;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 5px 0px;
}

.top_nav_fixed {
  padding: 0px 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: black;
  opacity: 1.0;
}

.nav_logo {
  border: 3px solid white;
  width: auto;
  padding: 3px 7px;
  font-size: 1.625rem;
  font-weight: 500;
}

.nav_links {
  /* border: 1px solid red; */
  flex: 1;
  max-width: 45%;
  display: flex;
  justify-content: space-evenly;
  font-weight: 400;
  font-size: 1.125rem;
}

.social_links {
  /* border: 1px solid red; */
  font-size: 1.625rem;
}

.nav_social_links_style {
  color: white;
  padding: 0px 5px;
}

.mobile-menu-btn, .mobile-social-btn {
  display: none;
}

/* Menu Overlay for Mobile Devices - STARTS */

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.25rem;
    color: #818181;
    display: flex;
    justify-content: center;
    align-items:center;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    font-size: 2.5rem; 
    color: white;
}

/* Menu Overlay for Mobile Devices - ENDS */
/* NAVBAR  -  ENDS ------------------------------------ */




/* LANDING SECTION - STARTS HERE ---------------------  */

.landing_section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 680px;
  overflow: hidden;
}

.landing_section .landing_data {
  text-align: center;
  color: white;
  font-size: 3.75rem;
  cursor: default;
}

/* LANDING SECTION - ENDS HERE -----------------------  */







/* RESPONSIVE BEHAVIOR ------------------------------- */

/* For Screen Sizes from 1001px to 1200px */
@media (max-width: 1200px) {
  body {
    background-color: lightblue;
  }

  .top_nav_fixed {
    padding: 0px 9%;
  }

  .nav_links {
    max-width: 50%;
  }

  .landing_section .landing_data {
    font-size: 3rem;
  }

  .landing_section {
    height: 540px;
  } 
}

/* For Screen Sizes from 769px to 1000px */
@media (max-width: 1000px) {
  body {
    background-color: pink;
  }

  .top_nav_fixed {
      padding: 0px 6%;
  }

  .nav_logo {
    font-size: 1.5rem;
  }

  .nav_links {
    max-width: 52%;
    font-size: 1rem;
  }

  .social_links {
    font-size: 1.5rem;
  }

  .nav_social_links_style {
    padding: 0px 1px;
  }

  .landing_section .landing_data {
    font-size: 2.5rem;
  }

  .landing_section {
    height: 420px;
  }
}

/* For Screen Sizes from 631px to 768px */
@media (max-width: 768px) {
  body {
    background-color: yellowgreen;
  }
  
  .top_nav_fixed {
    padding: 0px 3%;
  }

  .nav_logo {
    border: 2px solid white;
    padding: 3px 5px;
    font-size: 1.25rem;
  }

  .nav_links {
    max-width: 55%;
    font-size: 0.75rem;
  }

  .social_links {
    font-size: 1.125rem;
  }

  .nav_social_links_style {
    padding: 0px 1px;
  }

  .landing_section .landing_data {
    font-size: 2rem;
  }

  .landing_section {
    height: 350px;
  }
}

/* For Screen Sizes from 481px to 630px */
@media (max-width: 630px) {
  body {
    background-color: yellow;
  }


  .landing_section .landing_data {
    font-size: 1.5rem;
  }

  .landing_section {
    height: 250px;
  }
}


/* For Screen Sizes upto 480px */
@media (max-width: 480px) {
  body {
    background-color: goldenrod;
  }

  .top_nav_fixed {
    padding: 0px 6%;
    height: 60px;
  }

  .nav_logo {
    border: 2px solid white;
    padding: 2px 4px;
    font-size: 1.125rem;
  }

 .nav_links, .social_links {
    display: none;
  }

  .mobile-menu-btn, .mobile-social-btn {
    display: block;
  }

  .icon-style {
    font-size: 24px; 
    color: white;
    padding: 0px 4px;
  }

  .landing_section .landing_data {
    font-size: 1rem;
  }

  .landing_section {
    height: 190px;
  }
}